body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #f5f7fb;

}

h1, h2 {
  color: #333;
}

button {
  padding: 8px 12px;
  margin: 5px;
  border: none;
  background: #4CAF50;
  color: white;
  border-radius: 5px;
  cursor: pointer;
}

button:hover {
  background: #45a049;
}
nav {
  background: #222;
  padding: 15px;
}

nav a {
  color: white;
  text-decoration: none;
  margin-right: 15px;
  font-weight: bold;
}

nav a:hover {
  color: #4CAF50;
}
.card {
  background: white;
  padding: 15px;
  margin: 15px;
  border-radius: 10px;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

.container {
  max-width: 900px;
  margin: auto;
  padding: 20px;
}
/* Layout wrapper */
.layout {
  display: flex;
}



/* ===== LAYOUT ===== */
.app-layout {
  display: flex;
}

/* ===== SIDEBAR ===== */
.sidebar {
  height: 100vh;
  background: #1e1e2f;
  color: white;
  position: fixed;
  top: 0;
  left: 0;
  overflow-y: auto;
  transition: all 0.3s ease;
  padding: 10px;
}

/* Expanded */
.sidebar.expanded {
  width: 250px;
}

/* Collapsed */
.sidebar.collapsed {
  width: 70px;
}

/* ===== MAIN AREA ===== */
.main-area {
  width: 100%;
  transition: margin-left 0.3s ease;
}

/* Shift based on sidebar */
.app-layout.expanded .main-area {
  margin-left: 270px;
}

.app-layout.collapsed .main-area {
  margin-left: 90px;
}





/* ===== NAVBAR ===== */
.navbar {
  height: 60px;
  background: #111;
  color: white;
  display: flex;
  align-items: center;
  padding: 0 20px;
}

/* ===== CONTENT ===== */
.content {
  padding: 20px;
}

/* ===== TOGGLE BUTTON ===== */
.toggle-btn {
  background: #444;
  border: none;
  color: white;
  padding: 6px 10px;
  cursor: pointer;
  margin-bottom: 10px;
}
.sidebar-item{
  margin: 20px 10px ;

}
.subtopic-list{
margin-left: 30px;
margin-top: 3px;
font-size: 14px;
}
.subtopic-list li{
  margin-top: 3px;
}

/* ===== MOBILE RESPONSIVE 🔥 ===== */
@media (max-width: 768px) {
  
  /* Sidebar becomes overlay */
  .sidebar {
    left: -250px;
    width: 250px;
  }

  .sidebar.expanded {
    left: 0;
  }

  /* Content full width */
  .main-area {
    margin-left: 0 !important;
    width: 100% !important;
  }
}